</script>
{% extends 'users/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
{% block content %}



<form action="addStocks" method = 'post'>
{% csrf_token %}
	<h1>Enter symbol : <input type="text" name = "symbol" placeholder="AAPL"><br></h1>
	<h1>Enter contry : <input type="text" name = "contry" placeholder="America"><br></h1>
	<h1>Enter exchange : <input type="text" name = "exchange" placeholder="NASDAQ"><br></h1>
	<button input type="submit"  class="btn-ido">Add</button>
</form>


{% endblock content %}

   
</html>