<script type="text/javascript">
  window.setTimeout(function () {
  window.location.reload();
}, 5000);
</script>

{% extends 'users/base.html' %}
{% load static %}
<!DOCTYPE html>

<html>
{% block content %}

       <head>
          <title>My Stocks LIVE!</title>
       </head>
      

	    {% if stocks %}
           <table class="content-table">
              <thead>
                 <tr>
                    <th>Symbol</th>
                    <th>Last Price</th>
                    <th>% Change</th> 
                 </tr>
               </thead>
               <tbody>
                  {% for stock in stocks %}
                  <tr>
                     <td >{{ stock.symbol }}</td>
                     <td>{{ stock.close }}</td>
                     <td style = "color:{{ stock.colorChange }}";> {{ stock.change }}%</td>                        </tr>
                     {% endfor %}
                  </tr>
               </tbody>
            </table>
       {% else %}
        <h1 ALIGN="CENTER"> empty list of stock </h1>
       {% endif %}
       <a href="{% url 'addStocks' %}" class="btn" style="color: white; background-color: #fd5e14;"type="submit" id="header-links"> Add Stock </a>
    
{% endblock content %}

   
</html>

