{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<section style="position: absolute;right: 300px;">
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js" async>
  {
  "feedMode": "market",
  "market": "stock",
  "colorTheme": "light",
  "isTransparent": true,
  "displayMode": "regular",
  "width": 480,
  "height": 830,
  "locale": "en"
}
  </script>
</div>
</section>
<section style="position: absolute;left: 100px;">
      <div class="container">
              <div>
                  <div class="col-sm-6 col-md-8" id="header-text">
                    <h1 id="header-h1">Virtual trading platform <br> A great solution try trading strategies </h1>
                    <p id="header-paragraph"> Developed by Ido Shitrit <br>3rd year Computer science student </p>
                    <a href = "../../static/users/files/IdoShitrit_CV.pdf"class="btn-ido" type="submit" id="header-links">Resume</a>
                  </div>

                  <div class="col-6 col-md-4" id="header-image"><img src="images/in-liquid-slide-2.svg " alt=""></div>
                </div>
      </div>
</section>
{% endblock content %}