{% extends 'users/base.html' %}


{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
<section style="text-align:center;">
    <div id="content">
        <h1 id="header-h1">Virtual Market Web</h1>
        <h1 id="header-paragraph" style="font-size: 30px;">
            This website allows users to manage virtual stock portfolio using real time market data.
Users determine their cash anount and they can buy and sell stocks from several word wide markets.

This project writen in python using Django library and pulls market information from tradingviews API.
User identities managed in a sqlite3 database with custom credential for each user.
        </h1>
    </div>
    <br><br>
    <h1 style="font-size: 25px;"><a style="text-decoration: none;color:#36404d" href = "mailto: ido7749@Gmail.com">Send Email | </a>
    
    <a style="text-decoration: none;color:#36404d"href = "../../static/users/files/IdoShitrit_CV.pdf">Resume | </a>
    <a style="text-decoration: none;color:#36404d"href="https://github.com/ido7746">GitHub | </a>
    <a style="text-decoration: none;color:#36404d"href="https://www.linkedin.com/in/ido-shitrit-442a25203/">Linkedin</a></h1>
</section>
{% endblock %}