{% extends 'users/base.html' %}


{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
<section style="text-align:center;">
    <div id="content">
        <h1 id="header-h1">Virtual Market Web</h1>
        <h1 id="header-paragraph" style="font-size: 30px;">The web was developed with the Django library, all the code on the site was written by Ido Shitrit.
            <br>On the website you can get online information on shares from all the world's stock exchanges,
            <br> in addition it is possible to virtually manage an investment portfolio and trade in shares virtually.
            <br><br> The site was developed with the Django library, all data on the site is stored in a database in the server.
            <br>The entire code was written by Ido Shitrit.
        </h1>
    </div>
    <br><br>
    <h1 style="font-size: 25px;"><a style="text-decoration: none;color:#36404d" href = "mailto: ido7749@Gmail.com">Send Email | </a>
    
    <a style="text-decoration: none;color:#36404d"href = "../../static/users/files/IdoShitrit_CV.pdf">Resume | </a>
    <a style="text-decoration: none;color:#36404d"href="https://github.com/ido7746">GitHub | </a>
    <a style="text-decoration: none;color:#36404d"href="https://www.linkedin.com/in/ido-shitrit-442a25203/">Linkedin</a></h1>
</section>
{% endblock %}