</script>
{% extends 'users/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
{% block content %}
       <title>{{ name }}</title>



         <h1 id="header-h1"ALIGN="CENTER">{{ name }}</h1>
         <h1 id="header-h1"ALIGN="CENTER">Money: {{ sum }}$</h1>
         <h1 id="header-h1"ALIGN="CENTER">Protfilo value: {{ value }}$</h1>
         <h1 id="header-h1"ALIGN="CENTER">Protfilo %change: {{ changePer }}%</h1>
         <br>

         {% if stocks %}
            <body>
               <table ALIGN="CENTER" class = "content-table">
                  <thead>
                  <tr>
                     <th>Symbol</th>
                     <th>Last Price</th>
                     <th>% Change</th>
                     <th>Profit $</th>
                     <th>Amount</th>
                  </tr>
                  </thead>
                  {% for stock in stocks %}
                  <tr ALIGN="CENTER">
                     <td><a href="{% url 'home' %}search?symbol={{ stock.symbol }}&exchange={{ stock.exchange }}">{{ stock.symbol }}</a></td>
                     <td>{{ stock.close }}</td>
                     <td style="color : {{stock.color}}"> {{ stock.changeProfit }}%</td>
                     <td>{{ stock.profit }}</td>
                     <td>{{ stock.amount }}</td>
                  </tr>
                  {% endfor %}
               </table>
            </body>
         {% else %}
         <h1 ALIGN="CENTER"> empty list of stock </h1>
         {% endif %}


         
      <script type="text/javascript">
            function validateForm() {
                var e = document.getElementsByName('act').value;
                var a = document.getElementById('symbol').value;
                var b = document.getElementById("screener").value;
                var c = document.getElementById("exchange").value;
                var d = document.getElementById("amount").value;
                if(strcmp(e,"DELETE")==0)
                  return true; 
                if (a == null || a==""|| b == null || b == ""|| c == null || c == ""|| d == null || d == "") {
                    alert("Please Fill All Required Field");
                    return false;
                }
                return true;
          }
      </script>

      

      <details>
         <summary>BUY/SOLD</summary>
         <div class="content">
            <ul>
            <form name = "StockData" action="protfolio" method = 'post' onsubmit="return validateForm()">
               <input type="text" id="symbol" name = "symbol" placeholder="Symbol: AAPL"><br>
               <input type="text" id = "screener"name = "screener" placeholder="Contry: America"><br>
               <input type="text" id = "exchange"name = "exchange" placeholder="exchange: NASDAQ"><br>
               <input type="text" id = "amount"name = "amount" placeholder="Amount: "><br>
               <input type="text" id = "price"name = "price" placeholder="Price: NONE for Real Time"><br>
               <input type="hidden" value={{ id }} name = "id">
               {% csrf_token %}
               <button input type="submit"  value="BUY" name="act" class="btn-ido" id="buy">BUY</button>
               <button input type="submit"  value="SOLD" name="act" class="btn-ido" id="sold">SOLD</button>
            </ul>
         </div>
      </details>

      <button ssinput type="submit" style="position:absolute" value="DELETE" name="act"  class="btn-ido" id="sold" onclick="return confirm('Are you sure you want to delete this item?');">Delete Protfolio</button>

    
{% endblock content %}

   
</html>

