
</script>
{% extends 'users/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
{% block content %}


<h1 ALIGN="CENTER">Welcam to the virtual market!</h1>
{% if protfolios %}
<h1 ALIGN="CENTER">Your protfolio's</h1>
            <body>
              <table ALIGN="CENTER" class = "content-table">
               <thead>
                 <tr ALIGN="CENTER">
                    <th>Name</th>
                    <th>Money</th>
                    <th>Value</th>
                    <th>Change %</th>
                    <th>    </th>
                 </tr>
               </thead>
                 {% for p in protfolios %}
                 <tr ALIGN="CENTER">
                    <td>{{ p.name }}</td>
                    <td>{{ p.sum }}</td>
                    <td>{{ p.value }}</td>
                    <td>{{ p.changePer }}</td>
                    <form action="protfolio" method = 'post'>
                    {% csrf_token %}
                    <input type="hidden" value={{ p.id }} name = "id">
	                 <td><input type="submit" style="border-radius: 15px" class="btn-ido" value="Edit"></td>
                 </tr>
                 {% endfor %}
              </table>
           </body>

{% endif %}
<h1 ALIGN="CENTER"><a href="{% url 'createProtfolio' %}" class="btn-ido" type="submit" id="header-links">Create new protfolio</a></h1>
    
{% endblock content %}

   
</html>
